<ol class="breadcrumb">
  <li><a href="#/home"><i class="fa fa-home" aria-hidden="true"></i></a></li>
  <li class="active">Stories</li>
</ol>

<div class="row" data-ng-controller="StoriesController">
  <div class="col-md-8">
    <h4>Stories</h4>
    <div class="white-background" style="padding:15px;">
	    <table class="table table-hover table-condensed">
	      <thead>
	        <tr>
	          <th>#</th>
	          <th>Title</th>
	          <th>Developer</th>
	          <th>State</th>
	          <th class="text-center">Point V.</th>
	          <th>Edit</th>
	         </tr>
	      </thead> 
	      <tbody>
	        <tr ng-repeat="storyItem in stories" ng-class="(storyItem.id == currentStory.id) ? 'warning' : ''">
	          <td>{{storyItem.id}}</td>
	          <td width="25%"><a ng-href="#/story/{{storyItem.id}}">{{ storyItem.title }}</a></td>
            <td>
              <span ng-if="storyItem.developerId"ng-repeat="developer in developers | filter:{'id':storyItem.developerId}:true"> {{ developer.name }} </span>
              <span ng-if="!storyItem.developerId" style="color:#a00"> Not Assigned </span>
            </td>
            <td>{{ statuses[storyItem.status] }}</td>
            <td class="text-center">{{ storyItem.point }}</td>
		        <td width="5%" style="text-align:center;">
	            <a class="btn btn-xs btn-success" ng-click="selectStory(storyItem)"><i class="fa fa-pencil-square-o "></i></a>
		        </td> 
	         </tr>        
	      </tbody>
	    </table>
    </div>
  </div>
  <div class="col-md-4">
    <h4 style="color:#B80D57;">{{actionName}}</h4>
    <div class="white-background" style="padding:20px;">
    <form name="storyForm" ng-submit="submit()" method="POST">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label" for="title">Title</label>
            <input value="" name="title" id="title" type="text" ng-model="story.title" class="form-control">
          </div>
        
          <div class="form-group">
            <label class="control-label" for="desciption">Description</label>
            <textarea ng-maxlength="200" class="form-control" name="desciption" id="desciption" ng-model="story.description"></textarea>
          </div>
          
          <div class="form-group">
            <label class="control-label" for="developer">Developer</label>
            <select name="developer" class="form-control" ng-model="story.developerId">
              <option ng-repeat="developer in developers" ng-selected="currentStory.developerId == developer.id" value="{{developer.id}}">{{developer.name}}</option>
            </select>
          </div>
          
          <div class="form-group">
            <label class="control-label" for="priority">Estimated Point Value</label>
            <select name="point" class="form-control" ng-model="story.point">
              <option ng-repeat="point in points" ng-selected="currentStory.point == point" value="{{point}}">{{point}}</option>
            </select>
          </div>
          
          <div class="form-group">
            <label class="control-label" for="status">State</label>
            <select name="status" class="form-control" ng-model="story.status">
              <option ng-repeat="(key, value) in statuses" ng-selected="currentStory.status == key" value="{{key}}">{{value}}</option>
            </select>
          </div>
      </div>
                
      <div class="row">
        <div class="col-md-12 text-right">
          <input class="btn btn-success btn-sm" type="submit" id="submit" value="{{submitButtonLabel}}" />
          <a ng-if="currentStory.id" ng-click="delete(currentStory.id)" class="btn btn-danger btn-sm">Delete</a>
          <a ng-if="currentStory.id" ng-click="cancel()" class="btn btn-default btn-sm">Cancel</a>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>